@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

:root {
  --background: #fbf9fa;
  --foreground: #171717;
  --font-inter: "Inter", sans-serif;
  --font-almarai: "Almarai", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

input,
textarea {
  background: #ffffff !important;
}

body {
  color: var(--foreground);
  background: var(--background);
}

html[lang="en"] body {
  font-family: var(--font-inter);
  font-size: 16px;
}

html[lang="ar"] body {
  font-family: var(--font-almarai);
  font-weight: 400;
  font-size: 18px;

  input:placeholder {
    font-family: var(--font-almarai);
    font-weight: 300;
  }
}

.loader {
  width: 1.5rem;
  height: 1.5rem;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.MuiDataGrid-columnSeparator {
  display: none !important;
}

.css-dgb1b-MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-columnHeader:focus-within,
.css-dgb1b-MuiDataGrid-root .MuiDataGrid-cell:focus,
.MuiDataGrid-cell:focus-within {
  outline: none !important;
}

.mySwiper {
  height: 320px;
}

.swiper-wrapper {
  height: 280px !important;
}

.swiper-pagination {
  position: unset !important;
  margin-top: 1rem;
}
